.popular-location {
    margin: 100px 0;
}

.carosolImg {
    width: 100px !important;
}

.preIcon {
    margin: 0 0 0 -200px !important;
}

.nextIcon {
    margin: 0 -200px 0 0 !important;
}




.location_heading {
    color: #EF3A24;
}


@media (min-width: 768px) and (max-width: 1024px) {

    .carosolImg {
        width: 85px !important;
    }
}

@media (min-width: 425px) and (max-width: 768px) {

    .carosolImg {
        width: 75px !important;
    }
}

@media (min-width: 319.98px) and (max-width: 425px) {

    .carosolImg {
        width: 65px !important;
    }

    .preIcon {
        margin: 0 0 0 -80px !important;
    }

    .nextIcon {
        margin: 0 -80px 0 0 !important;
    }
}