.common-margin {
    margin-top: 150px;
}

.job-category {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    /* height: 10px; */
    text-decoration: none;
}

.job-category-display {
    text-decoration: none !important;
}

@media (min-width: 992px) and (max-width: 1024px) {
    .job-category {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        /* height: 10px; */
        text-decoration: none;
    }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
    .job-category {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        /* height: 10px; */
        text-decoration: none;
    }
}

@media (min-width: 320px) and (max-width: 767.98px) {
    .job-category {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 4px;
        /* height: 10px; */
        text-decoration: none;
    }
}