body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.careers_title_one {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
  font-size: 45px;
  color: #A51E67;
}

.careers_title_two {
  color: #A51E67;
  font-size: 33px;
  line-height: 45px !important;
}

.custom_btn {
  background-color: #A51E67;
  font-size: 17px;
  color: white;
  font-weight: bold;
  padding: 6px 15px;
  border: none;
  border-radius: 10px;
}

.custom_btn:hover {
  color: #A51E67;
  background-color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 5px 14px;
  border: 1px solid rgba(0, 0, 0, 0.174);
  border-radius: 10px;
}