.footer_bg {
  background-color: rgba(135, 207, 235, 0.233);
  margin-bottom: 0px;
}

.footer_logo {
  width: 120px;
}

.appStore {
  width: 130px;
  height: 40px;
}


.footer_btn {
  color: #625c5c;
  text-decoration: none;
  border-radius: 10px;
  border: 0;
}

.footer_btn:hover {
  color: white;
  background-color: rgba(153, 150, 150, 0.476);
  padding: 6px;
  border-radius: 8px;
}

.copyright_text {
  color: #3e3b3b;
}


@media (min-width: 768px) and (max-width: 1023.98px) {
  .footer_logo {
    width: 200px;
  }

}